.container-fluid{
  width: 100%;
  margin: 0 auto;
  background-color: white;
}

.container-fluid .row .header{
  margin-top: 3vh;
  font-size: 2.5vw;
  width: 100%;
  height: 80px;


}
.container-fluid .row .header h1{
  text-align: center;
  color: #0071bc;
  margin-top: 9px;
}
.container-fluid .row{
  width: 100%;
  height: auto;
  margin: 0 auto;
}

.container-fluid .row .caisse .products{
  overflow-y:scroll;
  height: 78vh;
  width: 39vw;
  padding-left: 5px;
  margin-top: 3vh;
  border: 5px solid white;
  box-shadow: 0 00px 20px rgb(60, 84, 160);
}

.container-fluid .row .caisse .total{
  background-color: #0071bc;
  text-align: center;
  padding-top:1vh;
  margin-top: 1vh;
  height: 8vh;
  width: 36vw;
  font-size:2vw;
  cursor: pointer;
  color: white;
}
.container-fluid .row .caisse .totalText{
  text-align: center;
  margin-top: 1vh;
  cursor: pointer;
  font-size:2vw;
  text-decoration: bold;
  text-decoration-style: solid;
}

.prixTotal{
  margin-left: 4vw;
}

.fix {
 position: fixed;
}

.wrapper {
    min-height: 100vh;
    position: relative;
    position: relative;
    top: 0;
    height: 100vh;
}
.imageKP{
  width: 10vw;
  height: 15vh;
}

.btnAll{
    box-shadow: 0 0px 70px #d9d4e2 inset, 0 0 20px #beae8c inset;
    width: 17vw;
    height: 7vh;
    background-color: white;
    color: #0071bc;
}
.deleteBtnall{
  padding-top: 1vh;
  font-size: 2vw;
  border: none;
  background: transparent;
  color: red;
}

@keyframes lds-rolling {
   0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
   }

   100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

@-webkit-keyframes lds-rolling {
   0% {
      -webkit-transform: translate(-50%, -50%) rotate(0deg);
      transform: translate(-50%, -50%) rotate(0deg);
   }

   100% {
      -webkit-transform: translate(-50%, -50%) rotate(360deg);
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.lds-rolling {
   position: relative;
   margin: auto;
   margin-top: 0px;
   margin-bottom: 0px;
}

.margin-Top-50{
   margin-top: 50px;
}

.lds-rolling div,
.lds-rolling div:after {
   position: absolute;
   width: 166px;
   height: 166px;
   border: 26px solid #376888;
   border-top-color: transparent;
   border-radius: 50%;
}

.lds-rolling div {
   -webkit-animation: lds-rolling 1s linear infinite;
   animation: lds-rolling 1s linear infinite;
   top: 100px;
   left: 100px;
}

.lds-rolling div:after {
   -webkit-transform: rotate(90deg);
   transform: rotate(90deg);
}

.lds-rolling {
   width: 30px !important;
   height: 30px !important;
   -webkit-transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
   transform: translate(-15px, -15px) scale(0.15) translate(15px, 15px);
}


.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
